h2 {
  font-family: 'ubuntubold';
  font-size: 60px;
  color : var(--highlight);
  margin-bottom: 10px;
}

h3 {
  font-family: 'ubuntubold';
  font-size: 48px;
  color : var(--highlight);
  animation-name: slideLeft;
  animation-duration: 2s;
}

h3 img {
  width: 36px;
  padding-right: 10px;
}

p {
  margin: 0px;
  padding-left: 46px;
  animation-name: slideRight;
  animation-duration: 2s;
}

.fullwidth_div {
  width: 100%;
  overflow: hidden;
  left: 0;
  right: 0;
  padding-left: 5px;
  padding-right: 5px;
}

.left_floating_div {
  position: relative;
  float: left;
  width: 435px;
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 20px;
}

.left_floating_div img {
  width: 435px;
  height: auto;
}

.right_floating_div {
  position: relative;
  float: right;
  width: 435px;
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 20px;
}

.right_floating_div img {
  width: 435px;
  height: auto;
}

@media screen and (max-width: 930px) {
  .fullwidth_div {
    align-content: center;
    padding: 0;
  }

  .left_floating_div {
    padding: 0;
    width: 100%;
    max-width: 400px;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  .right_floating_div {
    padding: 0;
    width: 100%;
    max-width: 400px;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 400px) {
  .left_floating_div img { 
    width: 76vw;
  }

  .right_floating_div img {
    width: 76vw;
  }

  .left_floating_div aside {
    font-size: 4.5vw;
  }

  .right_floating_div aside {
    font-size: 4.5vw;
  }
}

@keyframes slideRight {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: 0%;
  }
}

@keyframes slideLeft {
  from {
    margin-right: 100%;
  }

  to {
    margin-right: 0%;
  }
}