.fullwidth_div {
  width: 100%;
  overflow: hidden;
  left: 0;
  right: 0;
}

.left_floating_div {
  float: left;
  width: 340px;
  padding-left: 5vw;
  margin-right: 3px;
  margin-bottom: 20px;
  text-align: center;
}

.right_floating_div {
  float: right;
  width: 340px;
  margin-left: 3px;
  padding-right: 5vw;
  margin-bottom: 20px;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .fullwidth_div {
    align-content: center;
  }

  .left_floating_div {
    width: 100%;
    max-width: 400px;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  .right_floating_div {
    width: 100%;
    max-width: 400px;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}