.header {
  display: flex;
}

.main {
  padding-top: 50px;
}

.header img {
  width: 340px;
  height: 340px;
  object-fit: contain;
  align-self: flex-start;
}

.cusd_color {
  color: #7BCCB5;
}

.underlings_color {
  color: #43C6DB;
}

.lhl_color {
  color: #9F000F;
}

@media screen and (max-width: 800px) {
  .header img {
    width: 42vw;
  }
}

@media screen and (max-width: 400px) {
  .header {
    display: flex;
    flex-direction: column;
  }

  .header img {
    margin: 0;
    align-self: center;
    width: 169px;
  }

  .header h1 {
    margin: 0;
    font-size: 42px;
  }
}